#!/usr/bin/make -f

include /usr/share/openstack-pkg-tools/pkgos.make

%:
	dh $@ --buildsystem=python_distutils --with python2

override_dh_clean:
	rm -rf  build
	dh_clean -O--buildsystem=python_distutils

override_dh_install:
    dh_install -O--buildsystem=python_distutils --fail-missing
    set -e ; python setup.py install --install-layout=deb \
			--root $(CURDIR)/debian/python-packetary

	cd contrib/fuel_mirror; \
	set -e ; python setup.py install --install-layout=deb \
			--root $(CURDIR)/debian/python-fuel-mirror
